/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: Lato, Arial;
    font-size: 18px;
    color: #333;
}

a, a:hover {
    color: #0093ff;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid #eeeeee;
}

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:0.4s;
    -moz-animation-duration:0.4s;
    animation-duration:0.4s;
}
  
.fade-in.one {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
  
.fade-in.two {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay:0.42;
    animation-delay: 0.2s;
}
  
.fade-in.three {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.fade-in.four {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fade-in.five {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.popover > .arrow::after {
    border-bottom-color: #f7f7f7;
}

.publication-item {
    margin-top: 50px;
}

.recognition-item {
    color: green;
}

.resource-item {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1;
}

#name {
    font-family: Helvetica,sans-serif;
    font-size: 56px;
    color: darkblue;
}

#social {
    margin-top: auto;
    margin-bottom: auto;
}

#social a {
    font-size: 30px;
    color: #333;
    border-bottom: 0px none white;
    text-decoration: none;
}

#social > span > a + a {
    margin-left: 10px;
}

#display-picture {
    float: right;
    width: 25%;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

#intro strong {
    color: #c20000;
}