body {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: Lato, Arial;
    font-size: 14px;
    color: #333;
}

a, a:hover {
    color: #379;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid #eeeeee;
}

.popover > .arrow::after {
    border-bottom-color: #f7f7f7;
}

.publication-item {
    margin-top: 25px;
}

.recognition-item {
    color: blueviolet;
}

#name {
    font-family: Helvetica,sans-serif;
    font-size: 50px;
    color: #000000;
}

#social {
    margin-top: auto;
    margin-bottom: auto;
}

#social a {
    font-size: 25px;
    color: #333;
    border-bottom: 0px none white;
    text-decoration: none;
}

#social > span > a + a {
    margin-left: 10px;
}

#display-picture {
    float: right;
    width: 25%;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

#intro p {
    line-height: 20px;
}
