.sidebar .social-icons {
	margin: 10px 0px;
	display: inline-block;
}

.sidebar .social-icons .fa {
	margin-right: 10px;
}

.page-title {
	font-weight: bold;
}

#display-picture {
	float: right;
	width: 142px;
	height: 142px;
}