<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
	<div class="sidebar-item">
		<p>{{ site.description }}</p>
	</div>

	<nav class="sidebar-nav">
		<a class="sidebar-nav-item" href="{{ site.baseurl }}">Home</a>
		<a class="sidebar-nav-item" href="{{ site.baseurl }}posts/">Blog</a>

		<span class="sidebar-nav-item">
			nilakshdas[at]gatech[dot]edu
		</span>

		<span class="sidebar-nav-item">
			<a href="https://twitter.com/nilakshdas" target="_blank"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
			<a href="https://github.com/nilakshdas" target="_blank"><i class="fa fa-github-alt fa-2x fa-fw"></i></a>
			<a href="https://www.linkedin.com/in/nilakshdas" target="_blank"><i class="fa fa-linkedin fa-2x fa-fw"></i></a>
			<a href="https://www.youtube.com/user/nilakshd/videos" target="_blank"><i class="fa fa-youtube fa-2x fa-fw"></i></a>
		</span>
	</nav>

	<div class="sidebar-item">
		<p style="font-size: 14px;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
	</div>
</div>
